# Created by .ignore support plugin (hsz.mobi)
*.iml
.project
.settings/
platforms/android/local.properties

#android file
*.class
platforms/android/app/build/
platforms/android/app/apk_version/
platforms/android/build/
release/android/
platforms/android/hmsagents/build/
platforms/android/weex_analyzer/build/
platforms/android/weex_analyzer/gradlew/
platforms/android/appframework/build/
platforms/android/app/apk/
platforms/android/picture_library/bin/
platforms/android/tigerdb/bin/
platforms/android/ucrop/bin/

# logs
*.log
.idea
npm-debug.log*
yarn-debug.log*

# dependencies
/node_modules

# cache files
.DS_Store
.npm

# middle compile files
/src/sprites/*

# build results
#/pub/
#/entry/

# local configs
lauch.json


#nei
/mock/
#/plugins/*
#/platforms/*
/dist/
/temp/
assets/tools/
assets/ios/

package-lock.json

.gradle/
platforms/android/app/build.gradle
platforms/android/app/src/main/assets/dist/
/platforms/android/app/src/main/assets
platforms/android/weex_sdk/build.gradle
/.history
/test/unit/coverage/
# 环境配置文件
static/config/environment.js
.vscode/
platforms/android/weex_sdk/.externalNativeBuild/
platforms/android/app/src/main/java/com/ddjf/interview/global/Environmental.java
static/config/environment.js
test/coverage
/test/unit/coverage
